{% extends "review/base.html" %}
{% block content %}
	<h1>Антон Логвинов</h1>
	<img src="/static/review/images/Author.jpg" class="author"/>
	<p class = "author_content">Добро пожаловать на самый позитивный и независимый Блог об играх, кино и путешествиях для open-minded людей! Я - Антон Логвинов, продюсер FXA Studio, некогда создатель первого видеожурнала об играх, а теперь блоггер и независимый журналист. Когда-то в 2004 я первым начал рассказывать об играх в видеоформате в рамках самого популярного журнала в Европе, который смотрели несколько поколений зрителей (собственно, этим я и продолжаю заниматься до сих пор). Однако это было только начало. С 2012 года я на Youtube и рассказываю о том, что мне интересно - играх, кино, путешествиях, автомобилях. Подписывайтесь!</p>
{% endblock content %}

